<div class="mainCont">
  <div class="tableCont">

    <p-dataTable [value]="data">
      <p-column field="usluga" header="Usluga" [sortable]="true">
        <ng-template let-col let-car="rowData" pTemplate="body">
          <span [style.color]="car[col.field]">{{car.ime}}</span>
        </ng-template>
      </p-column>
      <p-column field="najviseTrosi" header="Najvise Trosi" [sortable]="true">
        <ng-template let-col let-car="rowData" pTemplate="body">
          <span [style.color]="car[col.field]">{{car.podaci}}</span>
        </ng-template>
      </p-column>
      <p-column field="brojLjudi" header="Broj Ljudi" [sortable]="true">
        <ng-template let-col let-car="rowData" pTemplate="body">
          <span [style.color]="car[col.field]">{{car.cluster}}</span>
        </ng-template>
      </p-column>
      <p-column field="prosek" header="Prosek">



      </p-column>

      <p-column styleClass="col-button">
        <ng-template let-car="rowData" pTemplate="body">
          <button type="button" (click) = "showDialog()" pButton icon="fa-search"></button>
        </ng-template>
      </p-column>
    </p-dataTable>

  </div>

  <div class="chartCont" *ngIf="chart" (visible)="visible">
    <canvas id="canvas1" class="canvas" #canvas>
      {{chart}}
    </canvas>
  </div>

</div>
