.logIn {
    padding-top: 200px;
    font-family: sans-serif;
    background: url("/assets/background.jpg");
    background-size: 100vw 100vh;
    min-height: 650px;
}

.container {
    width: 25%;
    margin: auto;
}

h1 {
    font-weight: bold;
    color: white;
    text-align: center;
    padding-bottom: 15px;
}

.input {
    color: white;
    border-bottom: rgba(186, 183, 183, 0.672) 0.5px solid;
    margin-bottom: 20px;
}

input {
    border: none;
    width: 100%;
    background: transparent;
    outline: none;
    margin-bottom: 5px;
}

::placeholder {
    color: white;
    font-size: 12px;
}

.logInButton {
    margin-top: 20px;
    width: 100%;
    background: #ff082f;
    border-radius: 30px;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
}

.logInButton {
    margin-bottom: 10px;
}

.registerButton {
    margin-top: 2px;
}

a {
    text-decoration: none;
    color: white;
}

.social {
    width: 25%;
    float: left;
    margin-left: 50px;
}

h2 {
    text-align: center;
    font-size: 14px;
    color: white;
    padding: 0;
}

@media(max-width: 750px) {
    .container {
        width: 90%;
    }
}