<div class="slika">
    <div class="logIn">
        <div class="container">
            <div class="img">
                <img src="/assets/mtsLogo.png">
            </div>
            <h1>Log In</h1>
            <form>
                <div class="input">
                    <input type="text" placeholder="Email adress">
                </div>
                <div class="input">
                    <input type="text" placeholder="Password">
                </div>
                <button type="submit" [routerLink]="['/main']" class="logInButton">Log In</button>
            </form>
        </div>
    </div>
</div>