<div class="logIn">
    <div class="container">
        <h1>Log In</h1>
        <form action="post">
            <div class="input">
                <p>Email:</p>
                <input type="email" placeholder="Email adress">
            </div>
            <div class="input">
                <p>Password:</p>
                <input type="password" placeholder="Password">
            </div>
            <button type="submit" class="logInButton">Log In</button>
            <p>Don't have an account?</p>
            <button type="submit" class="registerButton">
                <a href="register.html">Register</a>
            </button>
        </form>
        <h2>Or Login with</h2>
        <div class="social">
            <input type="image" src="./assets/facebook.png" (click)="facebook()">
        </div>

        <div class="social">
            <input type="image" src="./assets/google.png" (click)="google()">
        </div>
    </div>



</div>