<div class="dropdown">

  <p-dropdown [options]="companies" [(ngModel)]="selectedCompany" placeholder="Select a Company" optionLabel="name" filter="true"
    (onChange)="bigpizza()">

  </p-dropdown>

</div>

<div class="companyField" *ngIf="selectedCompany">

  <div class="headCont">
    <h1>{{selectedCompany.name}}</h1>
  </div>

  <hr>
  <div class="mycont">
    <div class="pocetakUgovora">
      <p>Broj telefona pod ugovorom:</p>
      <p>Pocetak ugovorne obaveze</p>
      <p>Istek ugovorne obaveze</p>
    </div>
    <div class="datum">
      <p>{{selectedCompany.phoneNumber}}</p>
      <p>{{selectedCompany.pocetakUgovora}}</p>
      <p>{{selectedCompany.istekUgovora}}</p>
    </div>

    <br>
    <div class="brojKorisnika">
      <p>Broj korisnika kojima nudimo uslugu:</p>
      <p>Broj prodatih akcija:</p>
    </div>

    <div class="brBrojKorisnika">
      <p>{{selectedCompany.brKorisnika}}</p>
      <p>{{selectedCompany.brAkcija}}</p>
    </div>

  </div>

  <div *ngIf="chart" class="chart">
    <canvas id="canvas"> {{ chart }}</canvas>
  </div>

</div>