.dropdown{
  padding-top: 10px;
}

.headCont{
  text-align: center;
}

h1{
  color: #ffffff;
}

.chart{
  width: 50%;
  margin:auto;
  background-color: rgba(255, 255, 255);
}

.pocetakUgovora{
  margin-left: 25%;
  float: left;
}
.datum{
  margin-left: 65%;
}

.brojKorisnika{
  margin-left: 25%;
  float: left;
}
.brBrojKorisnika{
  margin-left: 65%;
}

input{
  width: 50%;
  color: white;
}

.container{
  width: 50%;
  float: left;
}
button{
  margin-top: 20px;
  width: 150px;

}
p{
  font-size: 14px;
}
.companyField p{
  color: white;
}
.myCont{
  width: 100%;
}

