.leftSide{
  border-right: black 1px solid;
  width: 25%;
  float: left;
  height: 80vh;
}

.rightSide{
  width: 73%;
  float: right;
  background-color: rgba(255, 255, 255, 0.15);
  padding-bottom: 20px;
  margin-left: 5px;
}

.leftDetails{
  width: 50%;
  float: left;
  text-align: right;
  padding-right: 20px;
}

.rightDetails{
  width: 50%;
  float: right;
  text-align: left;
  padding-left: 20px;
}

.details{
  margin-left: 250px;
  margin-top: 50px;
}

.details p{
  font-size: 18px;
  color: white;
}

.mainCont{
  height: 80vh;
}

.leftSide p{
  margin-top: 10px;
  color: white;
}

.leftSide input{
  color: white;
  width: 85%;
}

.leftSide button{
  width: 85%;
  margin-top: 10px;
  height: 30px;
}

.chart{
  opacity: 0.85;
}
