<div class="mainCont">
  <div class="leftSide">

    <p>Minimalna cena</p>
    <input type="text" [(ngModel)]="minVrednost" pInputText>
    <p>Trajanje ugovora</p>
    <input type="text" pInputText>
    <button pButton type="button" class="ui-button-success" label="Pretrazi" (click)="pretrazi()"></button>

  </div>
  <div class="rightSide">

    <div class="chart">
      <canvas id="canvasimei"> {{ chart }}</canvas>
    </div>

    <div class="details" *ngIf="show">
      <div class="leftDetails">
        <p>Broj korisnika sa navedenom cenom uredjaja:</p>
      </div>
      <div class="rightDetails">
        <p>27</p>
      </div>
      

    </div>

  </div>
</div>
